
.staff-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}


.staff-navbar {
    background: #34495e;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    margin: 0;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}


.nav-links a:hover {
    text-decoration: underline;
}


.logout-btn {
    background: #e74c3c;
    padding: 6px 12px;
    border-radius: 5px;
}


.staff-content {
    padding: 20px;
}