/* Container */
.dashboard-container {
    padding: 20px;
}

/* Title */
.page-title {
    margin-bottom: 20px;
}

/* Layout */
.dashboard-cards {
    display: flex;
    gap: 20px;
}

/* Card */
.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Numbers */
.card p {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}