{% extends base_template %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/billing.css' %}">
{% endblock %}

{% block content %}

<div class="billing-container">

    <h2 class="page-title">Bill History</h2>

    <div class="bill-card">

        <table class="bill-table">
            <tr>
                <th>Bill ID</th>
                <th>Date and time</th>
                <th>Total</th>
                <th>Action</th>
            </tr>

            {% for bill in bills %}
            <tr>
                <td>#{{ bill.id }}</td>
                <td class="date">{{ bill.created_at }}</td>
                <td class="amount">₹{{ bill.total }}</td>
                <td>
                    <a href="/billing/view/{{ bill.id }}/" class="btn-view">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No Bills Found</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>

{% endblock %}