{% extends 'admin_base.html' %}

{% block content %}

<div class="dashboard">

    <h2>Dashboard</h2>
  

    <!-- CARDS -->
    <div class="cards">

        <div class="card">
            <h3>{{ total_products }}</h3>
            <p>Total Products</p>
        </div>

        <div class="card">
            <h3>{{ total_users }}</h3>
            <p>Total Users</p>
        </div>

        <div class="card">
            <h3>{{ total_categories }}</h3>
            <p>Categories</p>
        </div>

        <div class="card">
            <h3>{{ low_stock }}</h3>
            <p>Low Stock Items</p>
        </div>

    </div>

</div>

{% endblock %}