{% extends 'manager_base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/manager_dashboard.css' %}">
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <h2 class="page-title">Manager Dashboard</h2>

    <div class="dashboard-cards">

        <div class="card">
            <h3>Total Products</h3>
            <p>{{ total_products }}</p>
        </div>

        <div class="card low">
            <h3>Low Stock</h3>
            <p>{{ low_stock }}</p>
        </div>

        <div class="card out">
            <h3>Out of Stock</h3>
            <p>{{ out_stock }}</p>
        </div>

    </div>

</div>

{% endblock %}