{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Manager Panel</title>

    <link rel="stylesheet" href="{% static 'css/manager.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body class="manager-body">

    
    <div class="manager-navbar">
        <h2 class="logo">Manager</h2>

        <div class="nav-links">
            <a href="/manager/dashboard/">Dashboard</a>
            <a href="/inventory/">Inventory</a>
            <a href="/logout/" class="logout-btn">Logout</a>
        </div>
    </div>

  
    <div class="manager-content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>