{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Staff Panel</title>

    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body class="staff-body">

    <!-- NAVBAR -->
    <div class="staff-navbar">
        <h2 class="logo">Staff</h2>

        <div class="nav-links">
            <a href="/staff/dashboard/">Dashboard</a>
            <a href="/billing/">Billing</a>
            <a href="/billing/details/">Bill History</a>
            <a href="/logout/" class="logout-btn">Logout</a>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="staff-content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>